.logo h1 {
  font-size: 35px;
  margin: 0px;
}
.header {
  margin-top: 15px;
  min-height: 60px;
}

.logo h1 span:first-of-type {
  padding: 0px 10px;
  border: 1px solid #ddd;
  color: #d19c97;
  margin: 0px 5px 0px 0px;
}
.common-btn {
  height: 40px;
  border: 1px solid #ddd;
  min-width: 50px;
  border-radius: 0px;
  background-color: #fff;
  text-align: center;
  color: #d17c97;
  font-size: 17px;
  font-weight: 700;
}
.common-btn span i {
  padding-right: 6px;
}
.search-product input {
  width: 70%;
  height: 19px;
  border-radius: 0px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-right: none;
}
.search-product button {
  height: 40px;
  border: 1px solid #ddd;
  color: #d19c97;
  font-size: 18px;
  border-radius: 0px;
  margin-left: -6px;
  background-color: #fff;
  width: 40px;
}
.search-product input:hover,
.content .email-box input:hover {
  outline: none;
}

.selected-product {
  text-align: right;
}
.full-banner-wrapper {
  border-top: 1px solid #ddd;
}

.list-header {
  height: 47px;
  background-color: #d19c97;
  margin: 0px;
}
.list-header h4 {
  display: inline-block;
  margin: 12px 0px 0px 30px;
}

.banner-area ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  border: 1px solid #ddd;
}
.banner-area ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}
.banner-area ul li a {
  text-decoration: none;
  color: #333;
}
.shop-menu {
  display: flex;
}
.left-menu-list {
  width: 70%;
}
.right-menu-list {
  width: 30%;
  direction: rtl;
}
.shop-menu ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  z-index: 2;
  background-color: #fff;
}
.shop-menu li {
  min-width: 75px;
  padding: 11px;
}
.shop-menu li a {
  color: #333;
  text-decoration: none;
}
.shop-menu li a:hover {
  color: #d19c97;
}
.shop-menu ul.dropdown {
  display: none;
}

.dropdown-head:hover ul.dropdown {
  display: block;
}

.dropdown {
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ccc 1px 1px 4px;
  margin-top: 4px;
}
.banner {
  position: relative;
  height: 267px;
  float: left;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0000004d;
}
.banner-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.banner-text h3 {
  margin: 0;
  font-size: 30px;
  color: white;
  font-weight: 500;
}
.banner-text a.shop-now {
  text-decoration: none;
  background-color: wheat;
  padding: 7px;
}
.banner-text a.shop-now:hover {
  border-radius: 8px;
  background-color: #d19c97;
  color: rgb(26, 22, 22);
}
.feature-box ul {
  display: flex;
  flex-direction: row;
  float: left;
  text-decoration: none;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  padding: 0;
  margin-top: 40px;
  list-style-type: none;
}
.feature-box ul li a {
  text-decoration: none;
  color: black;
}
.feature-box ul li i {
  text-decoration: none;
  padding: 5px;
  color: #d19c97;
}
.feature-box ul li i:hover {
  color: #291d1c;
}
.feature-box ul li a:hover {
  color: #d19c97;
}

.category-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-image img {
  transition: transform 0.3s ease-in-out;
}
.category-image img:hover {
  transform: scale(1.2);
}

.category {
  border: 1px solid #ccc;
}
.category .product-count {
  text-align: right;
  padding: 20px;
}
.category .category-type h5 {
  margin: 17px 0px 17px 52px;
  font-size: 21px;
}

.category-box {
  top: 41px;
  position: relative;
  display: flex;
  gap: 36px;
}
.offer-category {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 250px;
  border: 1px solid #ddd;
  background-color: rgb(207, 216, 245);
}
.offer-category img {
  height: 100%;
  width: 45%;
  object-fit: cover;
}
.offer-details {
  width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 33px;
}
.offer-details h5 {
  margin-bottom: 0px;
  font-size: 18px;
  color: #d19c97;
  text-transform: uppercase;
}
.offer-details .offer-collection h3 {
  margin-top: 8px;
  font-size: 28px;
}
.offer-details .shop-now button {
  border: 1px solid #d19c97;
  height: 36px;
  width: 93px;
  background-color: transparent;
  color: #d19c97;
  position: relative;
  cursor: pointer;
}
.offer-details .shop-now button:hover {
  background-color: transparent;
  color: #764b30;
}
.category-wrapper {
  display: flex;
  gap: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.cart img {
  width: 100%;
  object-fit: cover;
}
.cart h5 {
  margin-top: 17px;
  margin-bottom: 5px;
  font-size: 17px;
  text-transform: capitalize;
}
.cart .price {
  gap: 11px;
  display: flex;
  margin-bottom: 22px;
}
.cart .price span:nth-child(2) {
  text-decoration-line: line-through;
  color: #707981;
}
.cart .price span:first-of-type {
  font-weight: 600;
}
.cart button {
  border: none;
  background-color: white;
  font-size: 12px;
  cursor: pointer;
}
.cart button i {
  color: #d19c97;
  padding: 6px;
  cursor: pointer;
}
.cart button a {
  text-decoration: none;
  color: #333;
}
.cart button a:hover {
  color: #d19c97;
}
.cart button i:hover {
  color: #333;
}

.cart img {
  transition: transform 0.3s ease-in-out;
}
.cart img:hover {
  transform: scale(1.1);
}
.topic-headers h4 {
  margin: 0px;
}
.newsletter {
  height: 250px;
  background-color: rgb(207, 216, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 41px;
}
.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content h3 {
  font-size: 23px;
  margin-bottom: 7px;
}
.content span {
  text-align: center;
  margin-bottom: 9px;
  font-size: 14px;
}
.content .email-box {
  width: 100%;
  display: flex;
}
.content .email-box input {
  width: 75%;
  padding: 11px;
  border-style: none;
}
.content .email-box button {
  width: 25%;
  border-style: none;
  background-color: rgb(217, 156, 34);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 20);
  animation: scroll 40s linear infinite;
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.slide img {
  height: 100px;
  /* width: auto; */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.slide img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.address {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 40px;
}

.footer {
  height: 228px;
  background-color: rgb(207, 216, 245);
  padding: 53px;
  display: flex;
  flex-direction: column;
}
.footer hr {
  border: 0.1px solid rgba(255, 255, 255, 0.376);
  width: 100%;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.subscribe input {
  height: 30px;
  width: 175px;
  border: none;
  padding-left: 11px;
  font-size: 11px;
}
.subscribe input:hover {
  outline: none;
}
.subscribe button {
  height: 30px;
  width: 188px;
  border: none;
  font-size: 12px;
  background-color: #d36a29a7;
  cursor: pointer;
}
.address h3 {
  color: #d19c97;
  font-size: 25px;
  margin: 0px 0px 11px 0px;
}
.address h3 span {
  margin-left: 12px;
  color: #0c0c0c;
}
.address span:not(:first-child) {
  font-size: 13px;
}
.address span i {
  color: #d19c97;
  margin-right: 10px;
}
.quick-links h3,
.subscribe h3 {
  margin-top: 8px;
  font-size: 15px;
}
.quick-links ul {
  padding: 0px;
  font-size: 13px;
  list-style-type: none;
  cursor: pointer;
  line-height: 24px;
}
.quick-links ul li i {
  margin-right: 10px;
}
.company-details {
  display: flex;
  gap: 32px;
  height: 90%;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.copyright span {
  font-size: 10px;
}
.payment-img {
  height: 30px;
  width: 220px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.payment-img img {
  height: 100%;
  width: 30px;
}
.payment-img img:nth-child(5) {
  height: 61%;
  width: 30px;
}

@media only screen and (max-width: 980px) {
  .address span:not(:first-child) {
    font-size: 12px;
  }
  .quick-links ul {
    padding: 0px;
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
    line-height: 24px;
  }
  .payment-img {
    height: 23px;
    width: 220px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .shop-menu li {
    min-width: 54px;
  }
}

@media only screen and (max-width: 932px) {
  .shop-menu li {
    min-width: 50px;
    padding: 8px;
  }
  .company-details {
    height: 100%;
  }
  .slider {
    height: 81px;
  }
  .slide img {
    height: 80px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .subscribe input {
    width: 100%;
  }
  .subscribe button {
    width: 108%;
  }
  .offer-details h5 {
    font-size: 16px;
  }
  .offer-details .offer-collection h3 {
    font-size: 23px;
    margin-top: 0px;
  }
  .offer-category img {
    width: 41%;
  }
  .offer-details {
    gap: 29px;
  }
  .cart h5 {
    font-size: 14px;
  }
  .topic-headers h2 {
    margin: 0px;
  }
  .cart .price span:first-of-type,
  .cart .price span:nth-child(2) {
    font-size: 14px;
  }
  .cart .price {
    margin-bottom: 10px;
  }
  .cart button {
    font-size: 11px;
  }
  .category .category-image img {
    width: 205px;
    height: 308px;
  }
  .category-box {
    gap: 13px;
  }
  .category .category-type h5 {
    font-size: 17px;
  }
  .list-header {
    height: 41px;
  }
}

@media only screen and (max-width: 918px) {
  .address span:not(:first-child),
  .quick-links ul {
    font-size: 11px;
  }
  .logo h1 {
    font-size: 31px;
  }
  .subscribe input {
    width: 93%;
  }
  .subscribe button {
    width: 103%;
  }
}
@media only screen and (max-width: 912px) {
  .offer-details .offer-collection h3 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 879px) {
  .offer-details .offer-collection h3 {
    font-size: 21px;
  }
  .offer-category {
    height: 229px;
  }
  .offer-details h5 {
    font-size: 13px !important;
  }
  .banner-text {
    gap: 8px;
  }
}

@media only screen and (max-width: 842px) {
  .cart-button {
    display: flex;
    flex-direction: column;
  }
  .offer-details .offer-collection h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 812px) {
  .offer-details .offer-collection h3 {
    font-size: 18px;
  }
  .shop-menu li {
    min-width: 31px;
  }
}
@media only screen and (max-width: 768px) {
  .offer-details .offer-collection h3 {
    text-align: end;
    font-size: 21px;
  }
  .offer-details {
    gap: 10px;
  }
  .category .category-image img {
    width: 190px;
  }
  .category .category-type h5 {
    margin: 17px 0px 17px 8px;
  }
  .shop-menu li a {
    font-size: 13px;
  }
  .shop-menu li {
    padding: 8px;
  }
  .list-header {
    height: 41px;
  }
  .list-header h4 {
    display: inline-block;
    margin: 8px 0px 0px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .category .category-image img {
    width: 164px;
    height: 200px;
  }
  .category .product-count {
    font-size: 12px;
    padding: 7px 16px 5px 0px;
  }
  .category .category-type h5 {
    font-size: 14px;
  }
  .category-type {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo h1 {
    font-size: 27px;
  }
  .search-product input {
    height: 10px;
    font-size: 12px;
  }
  .search-product button {
    height: 31.5px;
    font-size: 15px;
  }
  .common-btn {
    height: 31.5px;
  }
  .search-product {
    display: flex;
  }
  .list-header h4 {
    font-size: 14px;
  }
  .banner-area ul li a {
    font-size: 14px;
  }
  .feature-box ul li a {
    font-size: 14px;
  }
  .topic-headers h2 {
    font-size: 27px;
  }
  .cart img {
    width: 89%;
  }
  .cart h5 {
    font-size: 12px;
  }
  .cart .price span:first-of-type,
  .cart .price span:nth-child(2) {
    font-size: 11px;
  }
  .cart .price {
    margin-bottom: 0px;
  }
  .banner {
    height: 177px;
  }
  .banner-text h4 {
    font-size: 16px;
  }
  .banner-text h3 {
    font-size: 26px;
  }
  .banner-text a.shop-now {
    height: 16px;
    text-align: center;
    font-size: 12px;
  }
  .banner-area ul li {
    border-bottom: 1px solid #ddd;
    padding: 2.6px 40px;
  }
  .newsletter {
    height: 194px;
  }
  .content h3 {
    font-size: 19px;
    margin: 7px;
  }
  .content span {
    font-size: 11px;
  }
  .content .email-box {
    height: 26px;
  }
  .content .email-box input,
  .content .email-box button {
    font-size: 11px;
  }
}

@media only screen and (max-width: 709px) {
  .dropdown-head {
    display: flex;
    width: 25%;
  }
  .category-box {
    gap: 11px;
  }
  .subscribe button,
  .subscribe input {
    font-size: 10px;
  }
  .dropdown-head a {
    width: 68%;
  }
  .quick-links ul li:nth-child(4) {
    display: flex;
  }

  .company-details .address span:nth-of-type(2) {
    display: flex;
    align-items: center;
  }
  .payment-img {
    height: 17px;
    width: 181px;
  }
  .offer-details h5 {
    font-size: 10px !important;
  }
  .offer-details .shop-now button {
    height: 28px;
    font-size: 11px;
    width: 79px;
  }
  .offer-details .offer-collection h3 {
    font-size: 17px;
  }
  .offer-category {
    height: 194px;
  }
}
@media only screen and (max-width: 655px) {
  .category .category-image img {
    width: 151px;
    height: 180px;
  }
  .category .category-type h5 {
    font-size: 11px;
    margin: 4px;
  }
}
@media only screen and (max-width: 644px) {
  .logo h1 {
    font-size: 24px;
  }
  .common-btn {
    height: 28.5px;
    font-size: 12px;
  }
  .shop-menu li a,
  .list-header h4 {
    font-size: 12px;
  }
  .banner-text h3 {
    font-size: 22px;
  }
  .banner-text h4 {
    font-size: 13px;
  }
  .banner-text a.shop-now {
    height: 13px;
    font-size: 10px;
  }
  .banner {
    height: 165px;
  }
  .topic-headers h2 {
    font-size: 24px;
  }
  .cart {
    margin-top: 12px;
  }
  .feature-box ul li:nth-of-type(4) {
    font-size: 12px;
  }
  .feature-box ul {
    margin-top: 12px;
  }
  .footer {
    padding: 24px;
  }
  .address h3 {
    margin: 0px;
  }
  .footer hr,
  .address h3 {
    margin: 0px;
  }
  .category .category-type h5 {
    font-size: 11px;
    margin: 4px;
  }
  .feature-box ul li a {
    font-size: 12px;
  }
  .feature-box ul {
    margin-top: 24px;
  }
  .category-box {
    gap: 8px;
  }

  .cart h5 {
    font-size: 11px;
  }
  .cart img {
    width: 80%;
  }
  .cart h5 {
    font-size: 10px;
    margin-top: 9px;
  }
  .cart .price span:first-of-type,
  .cart .price span:nth-child(2) {
    font-size: 9px;
  }
  .cart button {
    font-size: 9px;
    height: 15px;
  }
  .banner-area ul li a {
    font-size: 12px;
  }
  .quick-links ul li:nth-child(4) {
    display: inline;
    font-size: 10px;
  }

  .search-product input {
    height: 6px;
    font-size: 10px;
  }
  .search-product button {
    height: 27.5px;
    font-size: 13px;
    width: 28px;
  }
}

@media only screen and (max-width: 606px) {
  .address span:not(:first-child),
  .quick-links ul,
  .quick-links ul li:nth-child(4) {
    font-size: 9px;
  }
  .address h3 {
    font-size: 21px;
  }
  .quick-links h3,
  .subscribe h3 {
    font-size: 13px;
  }
  .shop-menu li {
    min-width: 31px;
  }
  .footer {
    height: 188px;
  }
}

@media only screen and (max-width: 426px) {
  .logo h1 {
    font-size: 22px;
  }
  .search-product input {
    height: 0px;
    font-size: 7px;
  }
  .search-product button {
    height: 21.5px;
    font-size: 11px;
    width: 23px;
  }
  .common-btn {
    height: 23px;
    border: none;
    font-size: 11px;
    min-width: 0px;
  }
  .header {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .search-product {
    margin-left: 17px;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
  }
  .full-banner-wrapper {
    border-top: none;
  }
  .banner-area.banner-area-screen {
    width: 100%;
    top: 20px;
    position: relative;
  }
}
